@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* headings and logos */

h1,
h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 15px;
}

/* navigation links  */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*  Beach image and cover text */

#beach {
    height: 600px;
    width: 100%;
    background: url('../images/stream-g1f92bd35e_1280.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#beach-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    font-size: 1.5em;
    position: relative;

}

#cover-text #cover-text h2 {
    color: #ffff
}

#cover-text h2 {
    font-size: 300%;
    font-family: Lato, sans-serif;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.685);

    width: 900px;
    height: 300px;
    margin-top: 820px;
    margin-right: 820px;


    padding-top: 40px;
    padding-left: px;
    background-color: rgba(56, 53, 53, 0.4);

    bottom: 30px;
    right: 150px;

    position: absolute;
}


#club-ethos {
    height: 600px;
    background-color: rgba(116, 90, 90, 0.637);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    height: 400px;
    float: left;
    color: black;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    height: 400px;
    float: right;
    color: black;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    height: 400px;
    margin: auto;
    background-color: auto;
    font: black;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 60px;
    font-size: 1.5em;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.right-about-heading {
    width: 60%;
    float: Left;
    line-height: 30px;
    clear: both;
    margin-bottom: 60px;
    font-size: 1.5em;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#welcome {
    text-align: center;
    margin: 30px 0;
    font-size: 200%
}

#circle-container {
    width: 400px;
    height: 400px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/yoga-g230633fb2_1920.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right;
    border-radius: 50%
}

/* times and locations */

#time {
    background-image: url('../images/location1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#time div {
    color: white;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;

}

#time h2 {
    color: white
}

/* footer and social networks */

footer {
    height: 150px;

}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;

}

#photos>img {
    width: 100%;
}

/* Media queries */

/* For different screen sizes */

@media screen and (max-width:1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
    }



}